<div>
    <span fxFlex></span>
    <h1 >To Do List</h1>
    <span fxFlex></span>
</div>

<form [formGroup]="todolist" (ngSubmit)="buttonClicked()">
        <mat-form-field class="formfield">
            <input matInput placeholder="Enter the title" formControlName="title">
        </mat-form-field>
        <div>
            <button mat-stroked-button class="formfield" (click)="filePicker.click()" type="button">Add Image</button>
            <input type="file" #filePicker id="filePickerId" (change)="imagePicked($event)">
        </div>
        <div id="imagePreview" *ngIf="imagepre !== '' && imagepre && todolist.get('image').valid" class="formfield">
            <img [src]="imagepre" [alt]="todolist.value.title">
        </div>
        <mat-form-field class="formfield">
            <input matInput placeholder="Enter the comment" formControlName="comment">
        </mat-form-field>
        <div class="formfield">
            <button type="submit" mat-button>{{mode}}</button>
        </div>
</form>

