<div>
    <span fxFlex></span>
    <h1 >To Do List</h1>
    <span fxFlex></span>
</div>

<form [formGroup]="todolist" (ngSubmit)="buttonClicked()">
        <mat-form-field class="formfield">
            <input matInput placeholder="Enter the title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="formfield">
            <input matInput placeholder="Enter the comment" formControlName="comment">
        </mat-form-field>
        <button type="submit" mat-button>{{mode}}</button>
</form>

