<div id="content">
    <div>
        <span fxFlex></span>
        <h1 >All Posts</h1>
        <span fxFlex></span>
    </div>

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion *ngIf="!isLoading">
      <mat-expansion-panel *ngFor="let data of listItem">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{data.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
            {{data.comment}}
            <mat-action-row>
              <img [src]="data.imagePath" [alt]="data.title" id="postImage">
            </mat-action-row>
            <mat-action-row *ngIf="isAuthed">
              <button mat-button color="primary" [routerLink]="['/edit',data.id]" >Edit</button>
              <button mat-button color="warn" (click)="deletePost(data.id)" >Delete</button>
 
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" 
        [pageSizeOptions]="postsSizeOptions" (page)="OnChangePage($event)"
        *ngIf="listItem.length > 0"></mat-paginator>
    <p *ngIf="listItem.length==0 && !isLoading">No post yet</p>
</div>
