.formfield{
    width:75%;
    margin-left:12.5%;
    margin-top:25px;
}
mat-card{
    width:75%;
    margin-top:100px;
    margin-left:12.5%;
}
.errorMessage{
    color:red;
    padding:0 25% 0 25%;
    margin-top:-2%;
}