<mat-card >
  <form [formGroup]="SignUpForm" (ngSubmit)="buttonClicked()">
    <mat-form-field class="formfield">
        <input matInput placeholder="Enter the email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="formfield">
        <input matInput placeholder="Enter the password" formControlName="password">
    </mat-form-field>
    <div class="formfield">
        <button type="submit" mat-raised-button color="primary">Sign In</button>
    </div>
</form>
</mat-card>