<mat-card>
  <mat-card-header>
    <div fxFlex >
      <img  id="profileImage" src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="profile image">
      <div>
        <span fxFlex></span>
          <mat-card-title>
            Udith Shalinda
          </mat-card-title>
        <span fxFlex></span>
        <span fxFlex></span>
      </div>
    </div>
    <div fxFlex>
      <mat-card-title>
        About
      </mat-card-title>
      <mat-card-subtitle>
        <mat-icon>email</mat-icon>
        udithshalinda2@gmail.com
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>school</mat-icon>
          University of Kelaniya
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>
          location_on
        </mat-icon>
        Negombo,Sri Lanka
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>phone_iphone</mat-icon>
        0770000000
      </mat-card-subtitle>
    </div>
    <span fxFlex></span>
  </mat-card-header>

  <mat-card-content>
      <mat-card-title>
        Photos
      </mat-card-title>
      <mat-grid-list cols="4" rowHeight="1:1">
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
        </mat-grid-list>
  </mat-card-content>
</mat-card>