<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <mat-card-header>
    <div fxFlex >
      <img  id="profileImage" [src]="profileDetails.image" alt="profile image">
      <div>
          <mat-card-title>
            {{profileDetails.name}}
          </mat-card-title>
      </div>
    </div>
    <div fxFlex>
      <mat-card-title>
        About
      </mat-card-title>
      <mat-card-subtitle>
        <mat-icon>email</mat-icon>
        {{profileDetails.email}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>school</mat-icon>
          {{profileDetails.university}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>
          location_on
        </mat-icon>
        {{profileDetails.address}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>phone_iphone</mat-icon>
        {{profileDetails.mobile}}
      </mat-card-subtitle>
    </div>
    <span fxFlex></span>
  </mat-card-header>

  <mat-card-content>
      <mat-card-title>
        Photos
      </mat-card-title>
      <mat-grid-list cols="4" rowHeight="1:1">
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
          <mat-grid-tile><img src="https://avatars1.githubusercontent.com/u/37566565?s=460&v=4" alt="photogallaryimage"></mat-grid-tile>
        </mat-grid-list>
  </mat-card-content>
</mat-card>

<button mat-raised-button [routerLink]="['/profileUpdate','/profileDetails.creater']">Edit</button>